name: Linux Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Install packages
      run: sudo apt-get install doxygen graphviz gcc ;
    - name: Install ITS and build Lola 
      run: ./install_all.sh
    - name: Grab test framework
      run: git clone https://github.com/yanntm/pnmcc-tests.git ; cp pnmcc-tests/* . ; ./install_oracle.sh
    - name: make a test
      run: ./run_test.pl oracle/Angiogenesis-PT-05-LTLF.out

      